.howBuy {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url('./../images/pexels-ketut-subiyanto-4246059.jpg');
    background-position: center center;
  background-size: cover;
}

.howBuy__container {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: transparent;
}
.howBuy__header {
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 10px;
  font-style: italic;
  color: #839acc;
  padding: 40px 0px 10px 0px;
  display: block;
  text-align: center;
  animation: fromShade 1.5s;
}
.howBuy__container {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  animation: fromShade 1s;
}
.howBuy__container__text {
  width: 50%;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 2px;
}
.howBuy__container__list__element {
  color: rgb(255, 255, 255);
  width: 60%;
  position: relative;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 22px;
  text-align: center;
  animation: fromShade 1.5s;
  list-style: none;
}
.howBuy__container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes fromShade {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
