.howBuy {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.howBuy__container {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
}
.howBuy__header {
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 10px;
  font-style: italic;
  color: #121a2e;
  padding-top: 40px;
  display: block;
  text-align: center;
}
.howBuy__container {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  animation: fromShade 1s;
}
.howBuy__container__text {
  width: 50%;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 2px;
}
.howBuy__container__list__element {
  color: rgb(80, 81, 85);
  width: 60%;
  position: relative;
  margin-bottom: 10px;
  top: 1em;
  padding-left: 2em;
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 30px;
}
.howBuy__container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes fromShade {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
