.products {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.products__description {
  animation: fromShade 1s;
}
.products__data-table {
  width: 80%;
}
