.products {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.products__description {
  animation: fromShade 1s;
}
.products__data-table {
  width: 80%;
}

.products__table-header {
  margin-top: 35px;
  font-family: 'Roboto';
  font-style: italic;
  animation: fromShade 1.5s;
}
.dataTables_wrapper {
  animation: fromShade 1s;
}
@media (max-width: 622px) {
  .products {
    padding: 2px;
  }
}
