.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.section__adBanner{
    width: 100%;
    height: 450px;
    background-image: url('../images/Tapeta_01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 6px -6px black;
    
}
.section__adBanner__header{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    display: block;
    color: #325199;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 55px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    animation: fromShade 1s;
}
.section__adBanner__about{
    font-family: "Roboto";
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    animation: fromShade 1s;
}
.section__about{
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: fromShade 1s;
    
}
.section__about__header{
    font-size: 55px;
    font-family: "Roboto";
    font-weight: 900;
    letter-spacing: 10px;
    font-style: italic;
    color: #121a2e;
    text-shadow: 0em 0em 0.4em rgba(52, 96, 129, 0.342);
    padding-top:40px ;
    padding-left:130px ;
    display: block;
    
}

.section__about__container{
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
    
}
.section__about__container__text{
    width: 100%;
    font-family: "Roboto";
    font-weight: 300;
    letter-spacing: 2px;
    color: rgb(73, 75, 77);
}
.section__about__container__element{
    display: flex;
    flex-direction: column;
    width: 25%;
    
}
.section__about__container__element__photoOne,.section__about__container__element__photoTwo,.section__about__container__element__photoThree{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 5px;
    margin-bottom: 15px;
}
.section__about__container__element__photoOne
{
    background-image: url('../images/ibrahim-boran-zsKFQs2kDpM-unsplash.jpg');
}
.section__about__container__element__photoTwo{
    background-image: url('../images/pexels-karolina-grabowska-4047148.jpg');
}
.section__about__container__element__photoThree{
    background-image: url('../images/pexels-victor-freitas-949126.jpg');
}
@media (max-width:622px)
{
    .section__about__header{
        text-align: center;
        padding-left: 0;
    }
    .section__about__container{
        flex-direction: column;
    }
    .section__about__container__element{
        width: 100%;
        margin-bottom: 50px;
    }
}
@media (max-width:622px)
{
    .section__about__header{
       font-size: 40px;
    }
}

@keyframes fromShade
{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}